*{
    pad: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
:root{
    --fontColor:rgb(21, 21, 21);
    --whiteColor:white;
}
.hero{
    background-image: url('../BSIT3G/assets//images/BgHeroSection.png');
    background-position: center;
    background-size: cover;
    height: 100vh;

    nav{
        background-color: rgba(255, 255, 255, 0.326);
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color:var(--whiteColor);
            img{
                width: 70px;
            }
        }
        .links{
            display: flex;
            gap:30px;
            a{
                font-size: 18px;
                text-decoration: none;
                color: white;
            }
        }
    }

    .main{
        display: flex;
        height: 90vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1{
            color: white;
            font-size: 100px;
        }
        button{
            border: none;
            background-color: white;
            font-size: 30px;
            border-radius: 5px;
            width: 190px;
            height: 70px;
            color: var(--fontColor);
        }
    }
}
